.wide-modal .modal-dialog {
    max-width: 90%;
    /* Adjust this value to increase/decrease modal width */
}

.mb-3 {
    margin-bottom: 1.5rem !important;
    /* Increase bottom margin for more space */
}

.horizontal-scroll {
    overflow-x: auto;
    /* Enable horizontal scrolling */
}